/lib/libbaf2sql_c.so
/stuff/
/lib/libbaf2sql_wrapper.so
/src/main/c/libbaf2sql_wrapper.so
/build/
/.idea/
/.gradle/
/baf2sql_adapter/build/
/baf2sql_adapter/.gradle/
/converter/build/
/lib/libbaf2sql_adapter.so
